In [17]:
import pandas as pd
import csv
import os
os.chdir("C:\\Users\\Administrator\\Documents")

In [18]:
# The Original CSV file
with open('report.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['roll', ' name', ' math', ' phy', ' chem', ' bio']
['1', ' Deepa', ' 98', ' 67', ' 78', ' 88']
['2', ' Anusha', ' 78', ' 89', ' 98', ' 90']
['3', ' Piya ', ' 90', ' 89', ' 98', ' 67']
['4', ' Manu ', ' 78', ' 90', ' 45', ' 78']
['5', ' Roy ', ' 67', ' 90', ' 99', ' 56']
['6', ' Tinu ', ' 67', ' 78', ' 89', ' 90']
['7', ' Titty ', ' 67', ' 89', ' 59', ' 90']
['8', ' Venu ', ' 56', ' 78', ' 98', ' 80']
['9', ' Amala ', ' 78', ' 67', ' 56', ' 78']
['10', ' Cindy ', ' 90', ' 45', ' 56', ' 89']

In [19]:
# Read only the even rows
pd.read_csv('report.csv', skiprows=lambda x: x % 2)

   roll     name   math   phy   chem   bio
0     2   Anusha     78    89     98    90
1     4    Manu      78    90     45    78
2     6    Tinu      67    78     89    90
3     8    Venu      56    78     98    80
4    10   Cindy      90    45     56    89